---
title: Events List
---
%h2= current_page.data.title

- data.events.each do |event|
  %ul.unstyled
    %li
      %strong Date:
      = event.DateTime
      %br
      %strong Location:
      = event.Location
      %br
      %strong Title:
      = event.Title
      %br
      %strong Speaker:
      = event.Speaker
      %br
      %strong Event Type:
      = event.Category
      %hr