---
title: Journal Clubs
---
%h2= current_page.data.title
%h3 Upcoming
%p Coming soon
/- data.events.upcoming.each_with_index do |event, i|
/ %ul.unstyled
/   %li
/     %strong Time:
/     = event.time
/   %li
/     %strong Location: 
/     = event.location
/   %li
/     %strong Title: 
/     = event.title
/   %li
/     %strong Speaker(s): 
/     = event.speaker
/   - if (i != data.events.upcoming.length-1)
/     %hr
%br

%h3 Past
- data.journalclubs.past.each_with_index do |event, i|
  %ul.unstyled
    %li
      %strong Time:
      = event.time
    %li
      %strong Location: 
      = event.location
    %li
      %strong Title: 
      = event.title
    %li
      %strong Speaker(s): 
      = event.speaker
    - if (i != data.journalclubs.past.length-1)
      %hr