---
title: Seminars
---
%h2= current_page.data.title

%h3 Upcoming
- data.events.upcoming.each_with_index do |event, i|
  %ul.unstyled
    %li
      %strong Time:
      = event.time
    %li
      %strong Location: 
      = event.location
    %li
      %strong Title: 
      - if event.pub_url.length > 1
        = link_to event.title, event.pub_url
      - else
        = event.title
    %li
      %strong Speaker(s): 
      - if event.speaker_url.length > 1
        = link_to event.speaker, event.speaker_url
      - else 
        = event.speaker
    - if (i != data.events.upcoming.length-1)
      %hr
%br

%h3 Past
- data.events.past.each_with_index do |event, i|
  %ul.unstyled
    %li
      %strong Time:
      = event.time
    %li
      %strong Location: 
      = event.location
    %li
      %strong Title: 
      - if event.pub_url.length > 1
        = link_to event.title, event.pub_url
      - else
        = event.title
    %li
      %strong Speaker(s): 
      - if event.speaker_url.length > 1
        = link_to event.speaker, event.speaker_url
      - else 
        = event.speaker
    - if (i != data.events.past.length-1)
      %hr