.home-panel
  %h3 Upcoming Events
  %ul.unstyled
    - data.events.upcoming.first(3).each do |event|
      %li
        = link_to "#{event.title.titleize}", "#{http_prefix}events/seminars"
        = " by #{event.speaker}"
        = " - #{event.time}"
  = link_to "Events", "#{http_prefix}events/seminars", class: "more-link"