.home-panel
  %h3 Upcoming Events
  %ul.unstyled
    - data.events.first(3).each do |event|
      %li
        %strong= event.Title
        %br
        = event.Speaker
        %br
        = event.DateTime
  = link_to "Events", "#{http_prefix}events/events_list", class: "more-link"