.home-panel
  %h3 Upcoming Events
  %ul.unstyled
    - data.events.upcoming.first(3).each do |event|
      %li
        = link_to "#{event.title.titleize}", "/events/seminars"
        = " by #{event.speaker}"
        = " - #{event.time}"
  = link_to "About", "about", class: "more-link"